


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"> 
		<title>ReMODE</title>
		  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load static %}
		<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
		<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/relation.css' %}">
		<script type="text/javascript" src="{% static 'js/subjob_1.js' %}" ></script>	
		<script type="text/javascript" language="javascript" src="{% static 'js/jsme/jsme.nocache.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'uis/jquery-ui-1.11.4.css' %}">
		<script type="text/javascript" src="{% static 'js/bootstrapSwitch.js' %}"></script>
	  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrapSwitch.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/fa/css/font-awesome.min.css' %}">
	  <script type="text/javascript" language="javascript" src="{% static 'js/ec/echarts.min.js' %}"></script>
	  <link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	
		
		
	</head>
  <body>
	<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark" style="background-color: #333537;">
		<div class="container">
			<a class="navbar-brand navbar-dark" href="/relation/remode/">
        <img src="{% static 'img/logo.png' %}" width="30" height="30">
        <a href="/relation/remode/" class="navbar-brand" >ReMODE</a>
      </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCol" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navCol">
				<ul class="navbar-nav">
					<li class="nav-item "><a href="/relation/remode/" class="nav-link" target="_blank">HOME</a></li>
					<li class="nav-item"><a href="/relation/remode/subjob" class="nav-link" target="_blank">SUBMIT</a></li>
					<li class="nav-item"><a href="/relation/remode/check" class="nav-link" target="_blank">CHECK</a></li>
					<li class="nav-item"><a href="/relation/remode/result0" class="nav-link" target="_blank">RESULT</a></li>
					<li class="nav-item"><a href="/relation/remode/help" class="nav-link" target="_blank">HELP</a></li>
					<li class="nav-item"><a href="/relation/remode/doc" class="nav-link" target="_blank">DOC</a></li>
				</ul>
			</div>
		</div>
	</nav>
<div class="container">
    <img class="img-fluid" src="{% static 'img/404.png' %}" />	
</div>




<footer class="site-footer">
	<div class="container" id="footer-container">
		<div class="row">
			<div class="col-sm-12 col-md-6 d-flex flex-column">
				<h6>About</h6>
				<p class="text-justify">
				  ReMODE is a new web server based on DL algorithm for target-specific ligand design, 
				  which integrates different functional modules to enable users to develop customizable drug design tasks. 
					<br>
					The server is described in detail here: <span style="color: #D8DBE2;">ReMODE: a deep learning-based web server for target-specific drug design.</span>
					<a href="" style="color: #D8DBE2;"></a>
				</p>
			</div>
  
			<div class="col-xs-6 col-md-3 d-flex flex-column">
			  <h6>Quick Links</h6>
			  <ul class="footer-links">
				  
				  <li><a href="mailto:liguobo@scu.edu.cn">Contact Us</a></li>
				  <li><a href="http://cadd.zju.edu.cn/" target="_blank">Tingjun Hou's Group </a></li>
			  </ul>
			  
			<script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5pbsm54xqiy&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"></script>
		  </br>
		</br>
		  </div>
			<div class="col-xs-6 col-md-3 d-flex flex-column">
				<h6>Dev Tool</h6>
				<table class="xtable xnobor-all">
					<tbody><tr>
						<td>
							<a href="https://www.python.org/" target="_blank">
								<img src="{% static 'img/python.png' %}" alt="">
							</a>
						</td>
						<td>
							<a href="https://www.rdkit.org/" target="_blank">
								<img src="{% static 'img/rdkit.png' %}"alt="">
							</a>
						</td>
						<td>
							<a href="https://www.djangoproject.com/" target="_blank">
								<img src="{% static 'img/django.png' %}" alt="">
							</a>
						</td>
						<td>
							<a href="https://pytorch.org/" target="_blank">
								<img src="{% static 'img/pytorch.png' %}" alt="">
							</a>
						</td>
					</tr>
				</tbody></table>
				<div class="mt-auto text-right">
					<p class="copyright-text">E-mail: <font color="white">tingjunhou@zju.edu.cn</font></p>
					<p class="copyright-text">Phone: <font color="white">+86-571-88208412</font></p>   
				</div>
			</div>
		</div>
		   
	</div>
	<div class="container" id="footer-container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="text-right">
					<p class="copyright-text">Copyright © 2022 All Rights Reserved by
						<a href="http://cadd.zju.edu.cn/" style="color: #ffffff;">ZJU</a> and <a href="http://www.lilab-ecust.cn" style="color: #ffffff;">ECUST</a>
					</p>
  
				   
				</div>
			</div>
		</div>
	</div>
  </footer>
   

  </body>
</html>
