.navbar {
    border-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0;
}



.navbar-brand {
    letter-spacing: 1px;
    font-weight: bold;
    vertical-align: center;
    text-align: right;
    font-size: 1.7rem;
    padding: 0 0 0 0;
    
}



nav > div.container > a {
	font-size: 1.7em !important;
	font-weight: bold;
}
#navCol > ul {
	margin-left: auto !important;
}
#navCol > ul > li {
	font-size: 1.2em !important;
	padding: 0 0.2em 0 0.2em;
    letter-spacing: 1px;
}

.prot{
 padding:5px 0px; 
 font-size:1.3em;
}




.mbo{
    margin-top: 0;
    position: relative;
    background: url(http://cadd.zju.edu.cn/relation/static/img/back_f.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding:0;
    width: 100%;
    height: auto;
}


.nms{    
    margin: 10px;
    border-radius: 5px;
    border: hidden ;
    width: 200px;
    height: 35px;
}
.tms{    
    margin: 10px;
    border-radius: 5px;
    border: hidden ;
    width: 100px;
    height: 35px;

}

.img-fluid {
    max-width: 100%;
    height: auto;
  }


.foot {
    background-color: #353535;
	bottom: 0;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 0.5em 0 1em 0;
    line-height: 2em;
    width: 100% ;
}

.wrap {
	float: left;
	width: 90px;
	height: 100px;
	text-align: left;
	line-height: 90px;
	font-size: 120px;
	font-weight: bold;
}

.desc > p {
	font-size: 1.3em;
	text-align: justify;
}



#idx-top > section:nth-child(even) {
    background-color: #f4f4f4;
;
}
#idx-top > section {
	padding: 3em 0 3em 0;
}
#idx-top > p {
	text-align: center;
	font-size: 2.0em;
	font-weight: bold;
	padding: 0.7em 0 0.5em 0;
}


#rdt {
 font-size: 1.4em;
 color: #9b0404;
 font-weight: 700;
}



#main {
    height: 400px;
    width: 60%;
    float: left;


    

}

#main_2 {
    height: 400px;
    width: 40%;
    float: right;


} 
.tpks {

}

#doc > section:nth-child(even) {
    background-color: #ffffff;
;
}
#doc > section {
	padding: 3em 0 3em 0;
}
#doc > p {
	text-align: center;
	font-size: 2.7em;
	font-weight: bold;
	padding: 3em 0 1em 0;
}

.cig {
    font-size:20px;
    font-weight:bold;
    color:rgb(255,255,255);
    text-shadow:2px 2px 4px #000000;
    margin:0 10px 0 0;
}



.adi {
border-radius:4px;
border:1px solid #c8cccf;
color:#000000;
}

.tooltip{
position: absolute;
z-index: 1;
top: 100%;
left: 50%;
margin-left: -60px;
}